*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: "Lato", Arial, sans-serif;
}

section{
	width: 100%;
	height: 100vh;
	color: #fff;
	background: linear-gradient(-45deg, #fff, #000000, #ff0000, #518cca);
	background-size: 400% 400%;
	position: relative;
	animation: change 10s ease-in-out infinite;
}

h1{
	font-size: 15rem;
	text-transform: uppercase;
	letter-spacing: -5px;
	border: 3px  solid #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 3rem 6rem;
	background-color: red;
	color: white;
	font-family: Impact, Haettenschweiler, 'Benton', sans-serif;
}

@keyframes change {
	0%{
		background-position: 0 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0 50%;
	}
}

